<%= content_tag "div", :'ng-app' => 'chatRoomApp', :'ng-controller' => 'chatRoomCtrl', :'ng-init' => "init()" do %>

<div class='span2 room_window'>
  <h3>Rooms</h3>

  <% @rooms.each do |room| %>
    <p>
    <%= link_to room.name, '#', :'ng-click' => "set_room(#{room.id})" %>
    </p>
  <% end %>

  <div>
  <%= button_to 'New Room', new_room_path, class: 'btn btn-primary', method: 'get'%>
  </div>
</div>

<div class='span8'>
  <div class='row-fluid span12'>
  <%= image_tag 'spinner.gif', 'ng-show' => 'loading' %>

    <div class='chat_window'>
      <div ng-repeat="message in messages">
        {{message.author.email}}
        :
        {{message.body}}
      </div>
    </div>

    <form ng-submit='send_message()'>

      <div class="field span10">
        <input name='messages[body]' type='text' ng-model='body' class='input-block-level message_body'>
      </div>
      <div class="actions span2">
        <input type='submit' class='btn btn-large btn-primary' ng-disabled='loading'>
      </div>
    </form>
  </div>

</div>

<div class='span2'>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn') %>        

  <h3>Users</h3>

  {{room_id}}
</div>

<% end %>

