
<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>


<%= content_tag "div", :'ng-app' => 'chatRoomApp', :'ng-controller' => 'chatRoomCtrl', :'ng-init' => "init(#{@message_json})" do %>
  <div ng-repeat="message in messages">
      {{message.body}}
  </div>
<% end %>

<%= form_for(@message) do |f| %>
 
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
  </div>
<% end %>

